.hellomsg {
	font-size: 1.7em;
	color: #dd4b39;
	font-family: 'Satisfy', cursive;
}

#container {
	width: 95%;
	-moz-border-radius: 15px;
	-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	padding: 10px;
	margin-top: 2%;
}

#statusMsg {
	width: 95%;
	background: rgba(61, 148, 0, 0.6);
	color: white;
	margin-left: auto;
	padding: 10px;
	font-family: 'Satisfy', cursive;
	display: none;
	font-size: 1.2em;
}

.weatherData {
	background: #f9edbe;
	padding: 5px;
	margin-top: 5px;
}

#WeatherButton {
	height: 60px;
	width: 90%;
	line-height: 60px;
	background-color: #dd4b39; 
	margin-left : auto;
	margin-right: auto;
	/*background-image: url('../images/bg.png');*/
	font-size: 2em;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	cursor: pointer;
	color: white;
	margin-top:1%;
	margin-bottom:1%;
	text-align:center;
}